.counter-wrapper{
    background-color: rgb(191, 140, 73);
    border: 2px solid rgb(10, 238, 10);
    height: 100vh;
    padding-top: 10%;


}
.counter{
    font-size: 10rem;
    color: green;
}
button{
    margin-left:10px;
    font-size: 2em;
    background-color: rgb(36, 115, 183);
}

input{
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}